body {
    text-align: center;
}
#welcome {
    position: absolute;
    z-index: 9;
    color: #FFFFFF;
    bottom: 0;
    background:  background: rgb(145,34,195);
background: linear-gradient(0deg, rgba(145,34,195,1) 0%, rgba(45,253,247,1) 100%); 
    display: table;
    width: 100%;
    height: 100%;
}
h1 {

    font-size: 40px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

#name {
    font-size: 30px;
    line-height: 1.2;
    font-family: 'Cinzel Decorative', cursive;
}

h2 {
    font-size: 30px;
    font-weight: 300;
    line-height: 1.2;
    font-family: monospace
}

#bio {

    padding: 50px;
    text-align: center;
    font-size: 42px;
}

.line {
    height: 6px;
    background-color: #000;
    width: 70px;
    margin: 8px auto;
}
p {
    max-width: 450px;
    margin: 25px auto;
    font-size: 17px;
    line-height: 1.3;
}
.article:hover {
color: fuchsia;
}

.my_nav_bar {
    position: sticky;
    top: 0;
    z-index:9999;
    
}
#contact iframe {
    width: 100%;
}
.contact_1 h3 {
    display: inline;
}
.contact-1 a {
    text-shadow: none;
}
input {
    background: grey;
}